<!doctype html>
<html>
<head>
	<script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery-1.11.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap-datepicker-1.3.0/js/bootstrap-datepicker.js') }}"></script>

	<script type="text/javascript" src="{{ url_for('static', filename='bootstrapvalidator/dist/js/bootstrapValidator.js') }}"></script>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-datepicker-1.3.0/css/datepicker.css') }}">
	

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrapvalidator/dist/css/bootstrapValidator.css') }}">
	
	
	<title>Pyetsori i programereve</title>
</head>

<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Pyetesori i programereve</a>
			</div>
		</div>
	</nav>

	<div class="container" align="center" style="padding-top:15px;">
		{% block body %}{% endblock %}
	</div>

	<div class="push-for-footer"></div>

	<div class="footer">
		<div class="container" align="center">
			<p class="text-muted"><br/>Bërë në Kosovë nga <a href="http://assemblio.com" target="_blank">Assemblio LLC</a></p>
		</div>
	</div>
</body>
</html>
